.carousel-inner img{
    width:100%;
    height:100%;
}
.rectangle {
    height: auto;
    width: auto;
    background-color: #555;
}

.navbar{
    
background: transparent linear-gradient(to right,#5F4D93, #E37682  )  no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
opacity: 1;

}
.container {
    
        margin-top:10%;
    position:fixed;
    border-radius: 25px;
    overflow: hidden;
    
}
.point
{cursor:pointer;
    text-align: center;
    padding-bottom: 5%;
    border: 1px solid whitesmoke;
  padding: 10px;
  box-shadow: 5px 5px #888888;


}
.pointe
{cursor:context-menu;
    text-align: center;
    margin-top:1%;
}
.points
{cursor:pointer;
    text-align: center;
    padding-bottom: 5%;

}
@media screen and (min-width: 700px) {
    #wedd{
        margin-left:15%;
        margin-top:12%;
        margin-right:20%;
    } 
       .col-xs-1half{
        width:4%;
    }
    

  }
  @media screen and (min-width:300px) and (max-width:600px)
  {

    .col-xs-1half{
        width:7%;
    }
  }

  @media screen and (min-width: 900px) {
    #wedd{

        margin-left:12%;
        margin-top:15%;
        margin-right:20%;
    }
   

    
  }
  
  
    

    

    
  